:root {
  --white: #1C2432;
  --card: #22273E;
  --text: #FFF;
  --highlight: #595CFF;
  --input: #1C2432;
  --border: #3D4253;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  background-color: var(--white);
  color: var(--text);
}